.page-title {
    text-align: center;
}

.slider-container {
    display: flex;
    position: relative;
    width: 770px;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slide iframe {
    width: 100%;
    height: 100vh;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 39px;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.prev-button:hover,
.next-button:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}